* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(234, 227, 220);
  height: 3000px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
header {
  max-width: 100%; /*Make sure Take all of her parent element(body)on all different devices .*/
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(206, 205, 205);
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 2px 4px rgba(243, 172, 172, 0.15); /* Adds a subtle shadow for depth, optional */
}
.logo-container {
  max-width: 100%; /* Put condition for smaller or biger divice*/
  background-color: rgb(181, 179, 172);
  height: 100%;
}
.logo {
  color: rgb(50, 21, 77);
  font-size: 0.4rem;
  font-weight: bold;
}

.navbar ul {
  display: flex;
  flex: 1;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
}
.navbar li {
  margin: 1rem;
}
.navbar a {
  font-size: 1rem;
  color: rgb(23, 22, 22);
  font-weight: 700;

  text-decoration: none;
}
.navbar a:hover {
  background-color: rgb(184, 175, 175);
  padding: 5px 10px;
  border-radius: 16px;
  transition: 0.15s;
}

.navbar a:active {
  background-color: rgb(166, 162, 162);
  padding: 10px 10px;
  border-radius: 16px;
  transition: 0.15s;
}

button {
  background-color: rgb(168, 166, 166);

  font-size: 1rem;
  padding: 8px 12px;
  margin-right: 1.5rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(187, 181, 181);
  transition: 0.15s;
  padding: 12px 18px;
}
button:active {
  padding: 18px 24px;
}
p {
  margin-top: 120px;
  margin-left: 20px;
}
@media (max-width: 380px) {
  body {
    font-size: 0.4rem;
  } /* Smaller font size */
  button {
    font-size: 0.4rem;
    padding: 2px;
    margin-right: 0.4rem;
    border-radius: 8px;
  }
  button:hover {
    font-size: 0.4rem;
    padding: 2px;
  }
  button:active {
    padding: 3px;
  }
  .navbar li {
    margin: 0.2rem;
  }
  .navbar a {
    font-size: 0.5rem;
  }
}


@media (max-width: 600px) {
  body {
    font-size: 0.5rem;
  } /* Smaller font size */
  button {
    font-size: 0.5rem;
    padding: 2px 4px;
    margin-right: 0.5rem;
    border-radius: 10px;
  }
  button:hover {
    font-size: 0.5rem;
    padding: 2px;
  }
  button:active {
    padding: 3px;
  }
  .navbar li {
    margin: 0.3rem;
  }
  .navbar a {
    font-size: 0.6rem;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  body {
    font-size: 0.75rem;
  } /* Smaller font size */
  button {
    font-size: 0.75rem;
    padding: 2px 4px;
    margin-right: 0.75rem;
    border-radius: 10px;
  }
  button:hover {
    font-size: 0.75rem;
    padding: 2px;
  }
  button:active {
    padding: 3px;
  }
  .navbar li {
    margin: 0.5rem;
  }
  .navbar a {
    font-size: 0.8rem;
  }
}
