* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(163, 178, 156);

  height: 3000px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: rem;
}
.header {
  max-width: 100%; /*Make sure Take all of her parent element(body)on all different devices .*/
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(0,139,139);

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 2px 4px rgba(243, 172, 172, 0.15); /* Adds a subtle shadow for depth, optional */
}
.logo-container {
  width: 70px; /* Put condition for smaller or biger divice*/

  background-color: rgb(51, 107, 85);
  height: 70px;
}
.logo {
  color: rgb(50, 21, 77);
  font-size: 0.45rem;
  font-weight: bold;
}

.navbar ul {
  display: flex;
  flex: 1;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
}
.navbar li {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.navbar a {
  font-size: 1rem;
  color: rgb(25, 20, 20);
  font-weight: 500;

  text-decoration: none;
}
.navbar a:hover {
  background-color: rgb(192, 175, 175);
  padding: 2px 4px;
  border-radius: 6px;
  transition: 0.15s;
}

.navbar a:active {
  background-color: rgb(176, 163, 163);
}
.appointment{
  display: flex;
  flex-direction: row;
}
.login{
  background-color: black;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 10px 20px;
  margin-right: 1rem;
  border-width: 2px;
  border-style: solid;

  cursor: pointer;

}

.book-session {

  background-color: black;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 10px 20px;
  margin-right: 1rem;
  margin-left: 2rem;
  border-width: 2px;
  border-style: solid;

  cursor: pointer;
}

